* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
}

.form-left {
  float: left;
}

.img {
  height: 100vh;
}
.form-right {
  float: left;
  height: auto;
}
