* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
}

.form-left {
  float: left;
  width: 500px;
  height: 100%;
  background-color: #0070ff;
}

.left_text {
  margin-top: 50px;
  width: 300px;
  color: #fff;
}

.img {
  background-color: #0070ff;
}

.form-right {
  float: left;
  height: auto;
}
