.app {
  display: inline-block;
  margin: 50px;
}
.wrapper {
  width: 400px;
  height: 480px;
  border: 1px solid #ccc;
}

.img {
  width: 400px;
  height: 300px;
  padding: 10px;
}

.product {
  padding: 10px;
}

.logy {
  color: #7a93b1;
}

.title {
  color: #575b67;
  font-size: 20px;
  margin-bottom: 20px;
}

.date {
  color: #7a93b1;
}

.text {
  color: #000;
}
